* {
    box-sizing: border-box;
}

html {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: "Raleway", sans-serif;
    font-weight: light;
    font-size: 18px;
 
}

h1 {
    font-family: Pacifico, cursive;
    font-size: 63px;
    line-height: 40px;
}

h2 {
    font-family: Pacifico, cursive;
    font-size: 48px;
    padding-bottom: 24px;

}

nav {
    background-color: #ffdd6e;
    height: 75px;
    vertical-align: middle;
}

div.container-fluid {
   width: 80%;
}

div.navbar-header {
    position: relative;
    color: white;
    padding-top: 10px;
 
}

ul.nav.navbar-nav {
    display: inline-block;
    list-style-type: none;
}

li {
    display: inline-block;
    padding: 0px 30px;
}

li a {
    color: #707070;
}

div.container {
    width: 50%;
    text-align: center;
}